<div class="page-header col-xs-12">
    <h2>Statistiken</h2>
</div>

<div class="row messages">
    <div class="col-xs-12">
        <div class="alert alert-danger" *ngIf="!!errorMessage">{{errorMessage}}</div>
    </div>
    <div class="col-xs-12">
        <div class="alert alert-info" *ngIf="!!infoMessage">{{infoMessage}}</div>
    </div>

    <div *ngIf="loading && !errorMessage" class="col-xs-12 center-children">
        <div class="loader"></div>
    </div>
</div>

<app-line-chart class="col-xs-12" *ngIf="!errorMessage" [class.hidden]="loading" [players]="players"></app-line-chart>
