<div class="page-header row"><h2>Rangliste</h2></div>

<div class="row messages">
    <div class="col-xs-12">
        <div class="alert alert-danger" *ngIf="!!errorMessage"><strong>Achtung!</strong> {{errorMessage}}</div>
    </div>
    <div class="col-xs-12">
        <div class="alert alert-info" *ngIf="!!infoMessage">{{infoMessage}}</div>
    </div>

    <div *ngIf="loading" class="col-xs-12 center-children">
        <div class="loader"></div>
    </div>
</div>
<div class="row" *ngIf="!loading && !errorMessage">
    <table class="table col-xs-12">
        <tr>
            <th>Platz</th>
            <th>Name</th>
            <th>Gewinnanteil</th>
            <th>Wertung</th>
        </tr>

        <tr *ngFor="let player of data; let i = index">
            <td>#{{ i + 1 }}</td>
            <td>{{ player.Name }}</td>
            <td>{{ player.WinRate | number : '1.2-2' }}%</td>
            <td>{{ player.CurrentScore }}</td>
        </tr>
    </table>
</div>