$gray-base:              #000 !default
$gray-darker:            lighten($gray-base, 13.5%) !default // #222
$gray-dark:              lighten($gray-base, 20%) !default   // #333
$gray:                   lighten($gray-base, 33.5%) !default // #555
$gray-light:             #4E5D6C !default   // #999
$gray-lighter:           #EBEBEB !default // #eee

$brand-primary:         #DF691A !default
$brand-success:         #5cb85c !default
$brand-info:            #5bc0de !default
$brand-warning:         #f0ad4e !default
$brand-danger:          #d9534f !default

$color-table-border: $gray-light //#3A5376

th
    border-bottom: 1px solid $color-table-border !important
tr, td
    border-top: 1px solid $color-table-border !important

.page-wrapper
    margin: 20px

h1, h2, h3, h4
    text-align: center

    