<div class="flex flex-column" style="height: 100%;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WuHu - Web</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a [routerLinkActive]="['active']" [routerLink]="['dashboard']">Dashboard</a></li>
                    <li><a [routerLinkActive]="['active']" [routerLink]="['players']">Players</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><button type="button" class="btn btn-default navbar-btn" [routerLinkActive]="['active']"
                                *ngIf="!userService.isLoggedIn()" [routerLink]="['login']">Login</button></li>
                    <li><button type="button" class="btn btn-default navbar-btn" [routerLinkActive]="['active']"
                                *ngIf="userService.isLoggedIn()" (click)="logout()">Logout</button></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <router-outlet></router-outlet>
</div>
