@import ../styles


.navbar
  background-color: $color-primary-0
  color: $color-secondary-2-0

.nav, .navbar-header
  a:active, a.active
    color: $color-secondary-1-1

  a:hover
    color: $color-secondary-1-2
