<div class="page-header row">
    <h2>Spielplan</h2>
</div>

<div class="col-xs-12" *ngIf="!connectionLost">
    <nav class="nav navbar-default tournament-nav">
        <button class="btn btn-lg btn-default navbar-btn" [disabled]="loading" (click)="addTournament()">Neuer
            Spielplan
        </button>
        <button class="btn btn-lg btn-default navbar-btn" [disabled]="loading" (click)="editTournament()">Spielplan
            ändern
        </button>
    </nav>
</div>

<div class="col-xs-12">
    <div class="alert alert-success" *ngIf="!!successMessage">{{successMessage}}</div>
    <div class="alert alert-danger" *ngIf="!!errorMessage"><strong>Achtung!</strong> {{errorMessage}}</div>
</div>

<div *ngIf="loading" class="col-xs-12 center-children">
    <div class="loader"></div>
</div>

<div class="row" class="tournament-form" *ngIf="!loading && !errorMessage && !showWarning && !!tournamentModel">
    <div class="col-xs-12">
        <form class="tournament-form" #tournamentForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="players">Spieler</label>

                            <div class="list-group" id="players">
                                <div class="player-list">
                                    <button class="list-group-item" *ngFor="let player of players"
                                            (click)="selectPlayer(player); tournamentForm.form.markAsDirty();"
                                            type="button"
                                            [class.selected]="player.IsSelected">
                                        {{ player.Firstname }} {{ player.Lastname }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input type="text" #name="ngModel" class="form-control" id="name"
                                   [(ngModel)]="tournamentModel.Name"
                                   placeholder="Name des Spielplans" [disabled]="editMode"
                                   name="name" required>
                        </div>

                        <div class="form-group">
                            <label for="amount">Anzahl an Spielen</label>
                            <input type="number" #amount="ngModel" class="form-control" id="amount"
                                   placeholder="Anzahl an Spielen" [(ngModel)]="tournamentModel.Amount" name="amount">
                        </div>

                        <div class="btn-group">
                            <button type="submit" class="btn btn-success"
                                    [disabled]="!tournamentForm.form.valid || tournamentForm.form.pristine">
                                Absenden
                            </button>
                            <button type="button" class="btn btn-default" (click)="reset()">Abbrechen</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="col-xs-12" *ngIf="showWarning">
    <div class="alert alert-warning">
        <strong>Warnung!</strong>
        Jemand anderer scheint gerade diesen Spielplan zu bearbeiten. Willst du trotzdem fortfahren?
    </div>

    <div class="btn-group">
        <button type="button" class="btn btn-default" (click)="warningConfirm()">Ja</button>
        <button type="button" class="btn btn-default" (click)="warningCancel()">Nein</button>
    </div>
</div>