<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="DefaultConnectionString" providerName="System.Data.SqlClient" connectionString='Data Source=(LocalDB)\MSSQLLocalDB;Initial Catalog=C:\USERS\PETER\DOCUMENTS\SOURCETREE\WUHU\WUHU\WUHUDB.MDF;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False'/>
  </connectionStrings>

  <appSettings>
    <add key="DalAssembly" value="WuHu.Dal.SqlServer"/>
  </appSettings>
</configuration>