<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Peter\Documents\Sourcetree\WuHu\WuHu\WuHuTestDB.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="assemblyString" value="WuHu.Terminal"/>
    <add key="DalAssembly" value="WuHu.Dal.SqlServer"/>
    <add key="DbPath" value="..\..\..\"/>
    <add key="DbName" value="WuHuTestDb"/><!-- without file ending or "_log"!-->
    <add key="SqlPath" value="..\..\..\..\SQL_scripts\"/>
  </appSettings>
</configuration>
