<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnectionString" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Peter\Documents\Sourcetree\WuHu\WuHu\WuHuTestDB.mdf;Integrated Security=True;Connect Timeout=30" />
  </connectionStrings>
  <appSettings>
    <add key="DalAssembly" value="WuHu.Dal.SqlServer" />
    <add key="DbPath" value="..\..\..\"/>
    <add key="DbName" value="WuHuDb"/><!-- without file ending or "_log"!-->
    <add key="SqlPath" value="..\..\..\..\SQL_scripts\"/>
  </appSettings>
</configuration>