<div class="col-xs-12 col-md-8">
    <chart id="chart" [options]="options" (load)="saveInstance($event.context)"></chart>
</div>


<div class="col-xs-12 col-md-4">
    <label [class.label-warning]="warnMaxSelected" for="players">Wähle bis zu {{MAX_SERIES}} Spieler aus</label>
    <div class="list-group" id="players">
        <div class="player-list">
            <button class="list-group-item" *ngFor="let player of players"
                    (click)="selectPlayer(player)" type="button"
                    [class.selected]="player.IsSelected">
                {{ player.Firstname }} {{ player.Lastname }}
            </button>
        </div>
    </div>
</div>