<div class="login-page">
    <div class="form">
        <form class="login-form" role="form" (submit)="login($event, username.value, password.value)">
            <input type="text" #username class="form-control" id="username" placeholder="Benutzername">
            <input type="password" #password class="form-control" id="password" placeholder="Passwort">
            <button>Anmelden</button>
            <div class="false-login" *ngIf="falseLogin">Falsche Benutzerdaten</div>
        </form>
    </div>
</div>
