<div class="flex flex-column" style="height: 100%;">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbar-collapse" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">WuHu</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a [routerLinkActive]="['active']" [routerLink]="['dashboard']">Dashboard</a></li>
                    <li><a [routerLinkActive]="['active']" [routerLink]="['rangliste']">Rangliste</a></li>
                    <li><a [routerLinkActive]="['active']" [routerLink]="['live']">Live Spiele</a></li>
                    <li><a [routerLinkActive]="['active']" [routerLink]="['statistik']">Statistiken</a></li>
                    <li><a [routerLinkActive]="['active']" [class.disabled]="!userService.IsUser()"
                           [routerLink]="['spielstand']">Spielstand</a></li>
                    <li><a [routerLinkActive]="['active']" [class.disabled]="!userService.IsAdmin()"
                           [routerLink]="['spielplan']">Spielplan</a></li>
                    <li><a [routerLinkActive]="['active']" [class.disabled]="!userService.IsAdmin()"
                           [routerLink]="['spieler']">Spieler</a></li>


                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><button type="button" class="btn btn-default navbar-btn" [routerLinkActive]="['active']"
                                *ngIf="!userService.IsUser()" [routerLink]="['login']">Login</button></li>
                    <li><button type="button" class="btn btn-default navbar-btn" [routerLinkActive]="['active']"
                                *ngIf="userService.IsUser()" (click)="logout()">Logout</button></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <router-outlet></router-outlet>
</div>
